<p class="bookmark-list-item-text">{{title}} - {{url}}</p>
<button class="bookmark-button-edit">edit</button>

<form class="bookmark-form-edit">
  <input class="bookmark-title" type="text" value="{{title}}">
  <input class="bookmark-url" type="text" value="{{url}}">
  <input type="reset" value="cancel">
  <input type="submit" value="save">
</form>
